@model IEnumerable<ProjectWeb.Models.Gry>

@{
    ViewBag.Title = "Baza danych + czat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Baza</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
  
<h2>Baza danych gier</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rok)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wydawca)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rok)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wydawca)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GryId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.GryId })
                </td>
            </tr>
        }
    </table>
